@model IEnumerable<PlaceOrder.Models.Product>

@{
    ViewData["Title"] = "ViewProduct";
}

<h1>ViewProduct</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
           
            <td>
               @Html.ActionLink("Add to Cart", "AddProductToCart", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
